<div class = "container">
	<div class = "user-profile">

		<% if @user.id == current_user.id %>
		<div class = "col-lg-12 text-center">
			<h1 class = "welcome-user">Hi, <%= @user.first_name %>!</h1>


		</div>

		<% else %>

		<div class = "col-lg-12 text-center">
			<h1> Meet <%= @user.first_name %>! </h1>
			
		</div>
		<% end %>

		<div class = "col-lg-12 text-center">
		<h4 class = "about-me"><%= @user.about_me %></h4>
			<h4 class = "hobbie-info">Outside of school I enjoy <span class = "hobbies"><%= @user.hobbies %>!</span></h4>
		<%= image_tag("/assets/PROFILE.jpg", class: "img-responsive img-rounded center-block") %>

			<h3 class = "school">
				<%= @user.high_school %>, grade <%= @user.grade %>
			</h3>

			<% if @user.tutor == true %>
			<h3 class = "tutor-boo">Tutor, <%= @user.domains %></h3>

			<div class = "teacher-cert">
				<h4 class = "certified">Teacher certified <%= image_tag("/assets/teacher-cert.png", class: "img-responsive center-block teacher-apple-cert") %> </h4>
			</div>

			<% end %>

			
			
		

			<hr>




			<h4>Reviews</h4>

			<p>Name: Suzie</p>	
			<p>Date: June 18, 2016</p>
			<p>Laura was such a great tutor. She walked through everything with me step by step and really helped me understand the assignment. </p>

		</div>
		



		<div class = "col-lg-12 text-center">
			<% if @user.id == current_user.id %>
			<%= link_to 'Edit profile', edit_user_registration_path(@user.id), class: 'btn btn-default btn-md edit-user-link' %>
			<% end %>
		</div>


	</div>

</div>