<div class = "container-fluid">

	<h1 class = "col-lg-12 welcome-session">Welcome to your session with <%= current_user.email%></h1>
	<%= link_to current_user.email, edit_user_registration_path %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
	
<% else %>

	<%= link_to "Sign Up", new_user_registration_path %>
	<%= link_to "Log In", new_user_session_path %>
<% end %>

<h3>Here's our tutors</h3>
<p><%= link_to "Tutors/Users", tutor_show_path %><p>

</div>
	<iframe src="https://appear.in/testing-room-name" width=700" height="600" frameborder="0"></iframe>
